body
{
 margin: auto;
 width: 80%;
 border: 1px solid black;
 background-color: rgb(125, 182, 163);
 font-family: Arial, Verdana, sans-serif;

}

#capa
{
    width: 150px;
    height: 100px;
}

nav
{
    font-size: 25px;
}

img
{
    width: 250px;
    height: 200px;
    padding: 5px;
}

.fig
{
    border: 1px solid black;
}

#fig1
{
    
    border: 1px solid black;    
    text-align: center;
    width: 300px;
    
}
#fig2
{
    border: 1px solid black;    
    text-align: center;
    width: 300px;
    float: left;
    
}

.container
{
    display: flex;
    align-items:center;
       
}


 #fig3
{
    float: right;
    border: 1px solid black;    
    text-align: center;
    width: 300px;
} 

#fig4
{
    
    border: 1px solid black;    
    text-align: center;
    width: 300px;
    
    
} 


#fig5
{
    border: 1px solid black;    
    text-align: center;
    width: 300px;
    
} 


.esquer
{
    display: inline-block;
    
}
.sinopse
{
    font-size: 20px;
}

footer
{
    font-size: 18px;
}

